<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>DK Studio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" class="rel">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" class="rel">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="border-end bg-white side-nav" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><b>DK Studio</b></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/mma_entry">MMA Entry</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/nascar_entry">Nascar Entry</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Optimal Lineup</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Results</a>
        </div>
    </div>