{% include 'includes/header.html' %}

    <div id="page-content-wrapper">
        <nav class="navbar top-nav navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
            </div>
        </nav>
        <div class="container-fluid">
            <h1 class="mt-4">MMA/UFC Entries</h1>
            <p>
                MMA STUFF
            </p>
        </div>
    </div>

{% include 'includes/footer.html' %}